@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.dark a,
.dark p {
  color: white;
}
.anch:hover .anc {
  text-decoration: underline;
  --tw-text-opacity: 1;
  color: rgb(3 105 161 / var(--tw-text-opacity)) /* #0369a1 */;
}
